<div class="row profile-content">
  <div class="col-md-3 profile-pic-container">
    <img src="{{model.profilePic}}" alt="">
  </div>
  <div class="col-md-9 profile-info-container">
    <p>Username: {{model.username}}</p>
    <p>Email Address: {{model.email}}</p>
    <p>Bio: {{model.bio}}</p>
    <p>Member Since: {{model.dateCreated}}</p>
  </div>
</div>
