  <div class="tab-content">
    {{#each model.sequences as |sequence|}}
      <p>Sequence ID: {{sequence.id}}</p>
      <div class="row">
        {{#each sequence.asanasequences as |as|}}
          <div class="col-md-3">
            <div class="card center-block border-padded">
              <img class="card-img-top img-responsive" src="{{as.asana.imageURL}}" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{as.sortOrder}}. {{as.asana.name}}</h4>
                <!-- <p class="card-text">{{as.asana.description}}</p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>

        {{/each}}
      </div>


    {{/each}}
  </div>
