<div class="container">

  <h1>Hello From Asana Route!</h1>

  <div class="sort-options">
    <span class="sort-by">Sort By:</span>
    <button type="button" class="btn btn-default" onClick={{action 'sortName'}}>Name</button>
    <button type="button" class="btn btn-default" onClick={{action 'sortId'}}>ID</button>
    <button type="button" class="btn btn-default" onClick={{action 'sortTarget'}}>Primary Target</button>
  </div>

  {{#bs-accordion as |acc|}}

    {{#if sortByName}}
      {{#each asanasByName as |asana index|}}
        {{#acc.item value=index title=asana.name}}
        <img src={{asana.imageURL}} class="img-responsive center-block asana-image" alt="">
          <p>{{asana.description}}</p>
          <p class="text-capitalize"><span class="asana-stats">Primary Target:</span> {{asana.firstTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Secondary Target:</span> {{asana.secondTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Duration:</span> {{asana.time}}</p>
        {{/acc.item}}
      {{/each}}
    {{/if}}

    {{#if sortById}}
      {{#each model as |asana index|}}
        {{#acc.item value=index title=asana.name}}
        <img src={{asana.imageURL}} class="img-responsive center-block asana-image" alt="">
          <p>{{asana.description}}</p>
          <p class="text-capitalize"><span class="asana-stats">Primary Target:</span> {{asana.firstTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Secondary Target:</span> {{asana.secondTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Duration:</span> {{asana.time}}</p>
        {{/acc.item}}
      {{/each}}
    {{/if}}

    {{#if sortByTarget}}
      {{#each asanasByTarget as |asana index|}}
        {{#acc.item value=index title=asana.name}}
        <img src={{asana.imageURL}} class="img-responsive center-block asana-image" alt="">
          <p>{{asana.description}}</p>
          <p class="text-capitalize"><span class="asana-stats">Primary Target:</span> {{asana.firstTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Secondary Target:</span> {{asana.secondTarget}}</p>
          <p class="text-capitalize"><span class="asana-stats">Duration:</span> {{asana.time}}</p>
        {{/acc.item}}
      {{/each}}
    {{/if}}

  {{/bs-accordion}}

</div>

{{outlet}}
